.reminder-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.reminder {
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    margin: 1rem 0;
}

.reminder-title {
    font-size: 2rem;
    margin: 0 0 0.5rem 0;
}

.reminder-body {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
}

@media only screen and (max-width: 750px) {
    .reminder {
        margin: 0;
    }
    .reminder-title {
        font-size: 1.5rem;
    }

    .reminder-body {
        font-size: 1rem;
    }
  }
