.open-form-button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  background: #0b75d8;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.open-form-button:hover {
  background: #0d87fa;
}

.list-section {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.7);
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.ul {
  width: 100%;
  padding: 0 5%;
}
