.dashboard {
  /* background: url(../../../public/img/reminder-wallpaper.jpg); */
  background-size: cover;
  background-position: fixed;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  min-height: 100vh;
  padding: 0 20% 3rem;
}

@media only screen and (max-width: 1050px) {
  .dashboard {
    width: 95%;
    padding: 0 2.5% 2rem;
  }
}

.hello-user {
  margin-top: 7.5rem;
  font-size: 3rem;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border: none;
  border-bottom: 1px solid #0b75d8;
}
