.dashboard {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.hello-user {
  color: #131313;
  font-size: 3rem;
}
